
<div class="form-task">


  <div class="form">
    <mat-form-field class="form-field">
    <mat-label>Task name</mat-label>
    <input matInput>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Task name</mat-label>
      <input matInput>
      </mat-form-field>
    <!-- <mat-form-field class="form-field">
      <mat-label>Task name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Task description</mat-label>
      <input matInput>
    </mat-form-field> -->

  </div>


</div>
