<div class="container">
    <section class="box example-section">
      <h1>To Do List</h1>

      <div class="tasks">
        <div class="check-input">
          <input type="checkbox">
          <h4>First task</h4>
        </div>
        <p>This is my first task of the day</p>
      </div>
      <div class="tasks">
        <div class="check-input">
          <input type="checkbox">
          <h4>Second task</h4>
        </div>
        <p>This is my second task of the day</p>
      </div>
      <div class="tasks">
        <div class="check-input">
          <input type="checkbox">
          <h4>Finish another task</h4>
        </div>
        <p>This is my third task of the day</p>
      </div>
      <div class="tasks">
        <div class="check-input">
          <input type="checkbox">
          <h4>Gym </h4>
        </div>
        <p>Leg day</p>
      </div>

      <!-- <div class="tasks">
        <mat-checkbox class="example-margin" [(ngModel)]="checked1">Tarefa 1</mat-checkbox>
        <p>This is my first task of the day</p>
      </div>

      <div class="tasks">
        <mat-checkbox class="example-margin" [(ngModel)]="checked2">Tarefa 1</mat-checkbox>
        <p>This is my second task of the day</p>
      </div> -->

    </section>


</div>
