

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%; /* Altura total da viewport */
  margin: 0;

  p{
    margin: 0px;
    font-family: "Poppins", serif;
    color: #777777;
  }
  h4{
    margin: 0px;
    color: #000;
    font-weight:  500;
  }

}
.box{
  background-color: #fff;
  border-radius: 35px;
  max-width: max-content;
  max-height: max-content;
  padding: 35px;
}

.tasks{
  margin-top: 9px;
}



.check-input{
display: flex;
justify-content: start;
}

